<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加页面</title>
</head>
<body>
    <form action="#" method="post">
        英雄名字: <input type="text" name="heroname" placeholder="请输入名字">
        <br>
        英雄技能：<input type="text" name="heroconten" placeholder="请输入英雄技能">
        <br>
        英雄性别：<input type="radio" name="sex" value="male" checked>男 <input type="radio" name="sex" value="female" checked>女
        <br>
        <input type="submit" value="提交">
    </form>
</body>
</html>