<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
</head>
<body>
    <h1>这里是详情页</h1>
    <div>
        <ul>
            {% for hero in books.hero_set.all %}
                <li>{{hero.name}}--{{hero.gender}}--{{hero.conten}}--{{hero.book}} <a href="{% url 'booktest:deletehero' hero.id %}">删除</a></li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'booktest:createdbook' books.id %}">添加英雄</a>
   {# <a href="/">返回列表</a> #}
    <a href="{% url 'booktest:index' %}">返回列表</a>
</body>
</html>