{% extends 'base.html' %}
{% block body %}
    <h1>投票信息:{{message.message}}</h1>
    <h2>投票选项</h2>
    <div>
        <form action="{% url 'polls:result' message.id %}" method="post">
            {% csrf_token %}
            {% for vote in message.option_set.all %}
                <input type="radio" name="option" value="{{vote.id}}" checked>{{vote.content}}
                <br>
            {% endfor %}
            <input type="submit" value="提交">
        </form>
        <a href="{% url 'polls:polls' %}">返回</a>
    </div>
{% endblock %}

