<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<div class="center">
    <h1>这里是首页</h1>
    <img src="/static/img/lbj.jpg" alt="">
    <div>
        <ul>
            {% for book in books %}
            <li>
           {# <a href="/detail/{{book.id}}/"><li>{{book.title}}--{{book.price}}--{{book.pub_date}}</li></a> #}
            <a href="{% url 'booktest:detail' book.id %}">
                {{book.title}}--{{book.price}}--{{book.pub_date}}
            </a>
             <a href="{% url 'booktest:etidbook' book.id %}">编辑</a>
            <a href="{% url 'booktest:deletebook' book.id %}">删除</a>
            </li>
            {% endfor %}
            <a href="{% url 'booktest:addbook' %}">添加书籍</a>
        </ul>
    </div>
</div>

</body>
</html>